body{
    front-family: Arial,sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.cotenedor{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}
h1,h2{
    text-align: center;
    color:white
}

.panel-registros, .panel-pila{
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.registro{
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-family: monospace;
    margin: 5px, 0;
    padding: 5px;
    background: white;
    border: 1 px solid #ddd;
}

